.flex {
  display: flex;
}

.header {
  flex-direction: row;
  height: 80px;
  background-color: #EB5160;
  color: white;
}

.header-logo {
  min-width: 25%;
  align-items: center;
  justify-content: start;
}
.header-logo-container{
  height: 90%;
  margin-left: 30px;
}
.header-logo-container img{
  height: 100%;
}

.header-text {
  max-width: 75%;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}
.header-text p{
  margin:0px;
  font-size: 20px;
}
.offset-right{
  padding-left: 10vw;
}