.flex {
  display: flex;
}

.navlist {
  height: 54px;
  width: 100%;
  background-color: #EB5160;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 50;
}

.navlist div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid white;
  transform: skew(-30deg) rotate(0deg);
}
  
.navlist div:not(:first-child,:last-child) {
  width: 45%;
}

.navlist div:first-child {
  width: 6%;
  color: #EB5160;
}

.navlist div:last-child {
  border-right: 0;
  transform: skew(0deg) rotate(0deg);
  
}

.user-icon {
  height: 75%;
  margin-left: auto;
  margin-right: 20px;
}

.user-icon:hover {
  height: 85%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 1.1em;
  color: #52908B;
}