.footer {
  background-color: #EB5160;
  height: 200px;
  padding: 20px 0
}

.wrapper {
  background-color: #F7F8F2;
  height: 160px;
}

.footerSocial svg {
  color: #fff;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}