.ruban {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 5vh;
}

.rubanTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--red-background-color);
  color: var(--main-background-color);
  padding: 12px 90px;
  clip-path: polygon(0 0, 10% 50%, 0 100%, 100% 100%, 90% 50%, 100% 0);
}

.rubanPicto {
  height: 50px;
  width: 50px;
  background-color: var(--red-background-color);
  transform: translateY(10px);
  z-index: 20;
  display: flex;
  justify-content: center;
  clip-path: circle(50.0% at 50% 100%);
  transform: translateY(23px);
}

.rubanPicto svg {
  height: 20px;
  width: 20px;
  color: var(--main-background-color);
  z-index: 12;
  transform: translateY(33px);
}