/*---------- Shortcuts ----------*/
.flex{
	display: flex;
}
.col{
	flex-direction: column;
}
.row{
	flex-direction: row;
}
.jcc{
	justify-content: center;
}
.aic{
	align-items: center;
}
.adminContainer{
	/* height: 100vh; */
	color: white
}

/*---------- Left Menu ----------*/
.adminMenuLeft{
	width : 15%;
	/* height: 100vh; */
	background-color: #313131;
}
.dashboard{
	padding: 10px;
	margin-bottom: 10px;
	font-size: x-large;
	border-bottom: solid 1px #616161;
	background-color: #212121;
}
.adminLeftButton{
	background-color: #414141;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
}
.adminLeftButton:hover{
	cursor: pointer;
	background-color: #515151;
}
.logoContainer{
	width: 20%;
}
.logo{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-color: black;
}
.btnName{
	padding-left: 10px;
	font-size:large;
}

/*---------- Right Menu ----------*/
.adminMenuRight{
	width: 85%;
	/* height: 100vh; */
	background-color: #919191;
}
.adminHeader{
	padding: 10px;
	width: 100%;
	font-size:x-large;
	background-color: #515151;
	border-bottom: solid 1px #616161;
}
/*----- Top Div -----*/
.topDiv{
	margin: 20px;
}
.topDivTitle{
	font-size: larger;
	padding: 10px;
	background-color: var(--main-font-color);
	border-radius: 20px 20px 0px 0px;
}
.cardContainer{
	padding: 20px;
	background-color: lightgray;
		border-radius: 0px 0px 20px 20px;
}

.card{
	height: 200px;
	width: 200px;
	margin: 20px;
}
.card:hover{
	cursor: pointer;
}

/*----- Bottom Div -----*/

.bottomDiv{
	margin: 20px;
}

.form{
	width: 80%;
	padding: 20px;
	border-radius: 20px;
	background-color: #313131
}
.bottomDivTitle{
	padding: 10px;
	font-size: larger;
}
.boxInput{
	width: 80%;
	height: 30px;
	margin: 10px;
	background-color: #616161;
	color: white;
}
.btnContainer{
	width:100%;
	padding:20px;
	justify-content: space-evenly;
}
button{
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
	background-color: var(--main-font-color);
}
.colorme{
	background-color: darkseagreen;
}