/* ACITIVITIES */

.activitiesContainer {
  width: 100%;
  height: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
  padding-top: 15px;
}

.titleCreamContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10%;
}

.titleRedLigns {
  width: 100%;
  height: 20px;
  border-top:var(--red-background-color)solid 5px;
}

.bothCreamContainer {
  display: flex;
  width: 100%;
}

.leftCreamContainer{
  width: 50%; 
  display: flex;
  align-items: center; 
}

.rightCreamContainer{
  width: 50%;
  display: flex;
  align-items: center;
}

img.creamSection {
  width: 100%;
}

p.redLeftAlign {
text-align: left;
margin: 30px;
align-content: center;
}

.cream {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}


/* screen above 1024px */
@media only screen and (min-width: 1024px) {

  .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .activitiesContainer {
    width: 30%;
    margin: 5px;
    height: 460px;
  }

  .bothCreamContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--red-background-color);

  }

  .leftCreamContainer {
    width: 100%;
  }

  .rightCreamContainer {
    width: 100%;
    height: 240px;
  }

  p.redLeftAlign {
    color: var(--sections-txt-color);
    vertical-align: middle;
  }

}

/* screen under 700px */
@media only screen and (max-width: 700px) {

  .bothCreamContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .leftCreamContainer {
    width: 100%;
  }

  .rightCreamContainer {
    width: 100%;
  }

  .titleCreamContainer {
    margin-top: 40px;
  }

}