@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Pacifico&display=swap');

:root {
  --main-background-color: #F7F8F2;
  --red-background-color: #EB5160;
  --green-background-color: #52908B;
  --main-font-color: #EB5160;
  --title-color: #F7F8F2;
  --sections-txt-color: #F7F8F2;
  --nav-list-items-color: #F7F8F2;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-weight: 600;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0px 20% 0px 20%;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: var(--title-color);
  background-color: var(--red-background-color);
}

h2 {
  font-family: 'Pacifico', cursive;
  color: var(--title-color);
}

nav {
  background-color: var(--red-background-color);
}