
.creamWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftBlock{
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 20px;
    padding: 20px;
}
.leftBlock img{
    min-width: 50%;
    max-width: 100%;
    margin: 20px;
}

.rightBlock{
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 50%;
    margin: 20px;
    padding: 20px;
}
.rightBlock p{
    border-left: 6px solid var(--red-background-color: #EB5160);
    color: var(--main-font-color: #EB5160);
    padding-left: 20px;
    font-size: 1.5vw;
}