.partnersWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0px 20px 40px 20px;
}
.pink{
    background-color: pink;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}
.purple{
    background-color: purple;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}
.orange{
    background-color: orange;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}
.cyan{
    background-color: cyan;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}
.yellow{
    background-color: yellow;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}